html {
  background:  #faaf1c;
}

body {
  background: #faaf1c;
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: fit-content;
  padding: 2em 2em 2em;
}

.navigation-bar a{
  margin: 0 auto;
  margin-left: 2%;
  float: right;
  background-color: #faaf1c;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: 'Patua One', cursive;
  font-size: 17px;
}

.navigation-bar a.active {
  background-color: #ed155d;
  color: white;
}

.navigation-bar a:hover {
  background-color: #31c0c7 ;
  color: white;
}

.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 102vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.h1,h2,h3{
  font-family: 'Patua One', cursive;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.homeFlexbox{
  display: flex;
  flex-wrap: nowrap;
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 5%;
  padding-bottom: 8%;
  position: relative;
}

.homeFlexchild1{
  padding-top: 27%;
  margin-right: 5%;
}

.homeFlexchild2{
  margin-right: 2%;
  margin-left: 2%;
}

.homeFlexchild3{
  padding-top: 27%;
  margin-left: -2%;
}

.origins{
  padding-top: 5%;
  padding-bottom: 8%;
}

.originsFlowerTop{
  margin-left: 42%;
  margin-bottom: -5%;
}

.originsParagraph1{
  margin-left: 18%;
  margin-right: 15%;
}

.originsParagraph2{
  margin-left: 18%;
  margin-right: 15%;
}

.originsFlowerBottom{
  margin-left: 42%;
  margin-bottom: 5%;
}

.types{
  padding-top: 5%;
  padding-bottom: 8%;
}

.typesFlower{
  margin-left: 42%;
  margin-bottom: -5%;
}

.typesParagraph{
  margin-left: 18%;
  margin-right: 15%;
}

.panFlexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panFlexItem{
  text-align: center;
  margin: 10px;
}

.cardFlexbox{
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 5%;
}

.traditions{
  padding-bottom: 8%;
}

.traditionsIntroFlexbox{
  display: flex;
  flex-wrap: nowrap;
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 5%;
  padding-bottom: 8%;
  position: relative;
}

.traditionsIntroFlexchild1{
  padding-top: 17%;
  margin-right: 7%;
}

.traditionsIntroFlexchild2{
  margin-right: 2%;
  margin-left: 3%;
}

.traditionsIntroFlexchild3{
  padding-top: 17%;
  margin-left: -2%;
}

.traditionsPanFlexbox{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 21%;
  margin-left: 27%;
  margin-top: -5%;
  margin-bottom:3%;
  position: relative;
}

.traditionsPanImage1{
  margin-top:-13%;
  margin-bottom:-8%;
}

.traditionsPanImage2{
  margin-top:-10%;
  margin-bottom:-2%;
}

footer {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #5c1d57;
  padding: 10px;
  background-color: #31c0c7;
  color: #5c1d57;
  font-family: 'Patua One', cursive;
  font-size: 10px;
  font-weight: bold;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

footer a:hover {
  background-color: none ;
  color: white;
}